@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Halant|Noto+Serif+JP|Unna&display=swap');

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For All */

:root {
  --bgBlue:#0D3B66;
  --bgWhite:#F8F8FF;
  --bgYellow:#F4D35E;
  --bgOrange:#EE964B;
  --bgRed:#F95738;
  --bgGrey:#8CADA7;
  --bgGreyWhite:#f7f6f8;
  --bgBlack:#222222;
  --bgDarkMode: #312c32;
  --footerHeight:200px;
  --headerHeight:200px;
  --marginLeft:50px;
}

*{
  /* font-family: 'Noto Serif JP', serif; */
  /* font-family: 'Unna', serif; */
  /* font-family: 'Gentium Basic', serif; */
  font-family: 'IBM Plex Sans';
  /* font-family: 'LATO'; */
  padding:0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  /* opacity: 0.5; */
}

.container {
  display: flex;
  flex-direction: column;
  /* height:100%; */
  min-height: 100vh;
  width:100%;
  background-color: var(--bgDarkMode);
}

.header{
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navigation-list:hover {
  /* background-color: var(--bgOrange); */
  /* color:var(--bgWhite); */
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

.bubble{
  position: absolute;
  z-index: -2;
  background: var(--bgBlack);
  transition: all 500ms ease-in-out;
  transform: scale(1.5);
}

/* ensures that page is allways full */
.footer{
  height: var(--footerHeight);
  /* opacity: 1; */
}
.header{
  height: var(--headerHeight);
}

.main{
  min-height:calc(100vh - var(--footerHeight) - var(--headerHeight));
  padding-top:5rem;
  position: relative;
  /* background-color: var(--bgDarkMode); */
}

.portrait{
  width:350px;
  height:auto;
}

img{
  -webkit-box-shadow: 0px 0px 91px -31px rgba(11,11,13,1);
  -moz-box-shadow: 0px 0px 91px -31px rgba(11,11,13,1);
  box-shadow: 0px 0px 91px -31px rgba(11,11,13,1);
}

.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: blue; */
  height:100%;
  width:100%;
}


.workBlock{
  margin-bottom: 50px;
}

.work{
    /* each */
  position: relative;
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
  /* margin-top:4rem; */
}


.workDescription{
  opacity: 0;
  position: absolute;
  transition: all 500ms ease-in-out;
    pointer-events: none;
}

.work:hover .workDescription{
  opacity:1;
}

.workImage{
  max-height: 330px;
  /* height:auto; */

}
.workImage:hover {
  opacity: 0.5;
}
.smallImage{
  /* max-width: 100px; */
  /* width:auto; */
  max-height: 80px;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualImage{
  width:100%;
}

.navigation-list{
  cursor:pointer;

}

.bulletPoints li {
  list-style:circle;
  list-style-position:inside;
}


input[type=button], input[type=submit] {
  cursor:pointer;
}

.full-width-input {
  display: block;
  width: 100%;
  word-wrap: break-word;
  /* margin-bottom: 10px; */
}



/* .aboutComponent{
  width:100%;
}
.about_sections{
  width:100%;
} */

/* testing purposes */
/* .headerLogo{
  border:1px solid black;
}
.portfolioLogo{
  border:1px solid black;
}

.item-a {
  border:1px dashed black;
}
.item-b {
  border:1px dashed black;
}
.item-c {
  border:1px dashed black;
}
.item-d {
  border:1px dashed black;
}

.component {
  border: 1px solid black;
  border-radius: 10px;
} */


/* Mobile */
@media (width<=400px) {

  .header{
    display: flex;
    flex-direction: column;
    height:100%;
    width: auto;
    background-color: pink;
  }

  .headerLogo{
    display:none;
  }
  .portfolioLogo{
    /* display: none; */
  }
  .navigation{
    display: flex;
    flex-direction: column;
    width:auto;

  }
  .navigation-list{
    text-align: center;
    /* position the text, left center right or give width to play */
  }

  .waveSketch {
    padding:0px !important;
  }

  .container{
    height:100%;
    width:100%;
  }

  .main{
    height:100%;
    width:100%;

  }

  /* .main div{
    background-color: yellow;
    height: 100%;
    width:100%;
  } */

  .component{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;;
  }

  .workImage{
    width:100%;
  }
  .smallImage{
    height:50px;
  }
  .component{
    padding:10px;
  }
  .contactPortrait{

    /* mix-blend-mode: multiply; */
    height:100%;
    width:100%;
  }
  .contactSections{
    padding:10px;
  }
  .about_sections{
    padding: 1.3rem;
  }
  /* .aboutComponent{
    width:100%;
    padding: 10px;
  }
  .about_sections{
    width:100%;
  } */
}


/* Ipad */
@media (400px<width<1024px){
  .header{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: pink;
    height: 100%;
  }

  .container {

    height:auto;
    /* border:1px solid grey; */
    /* background-color:blue; */
    /* height:100vh;
    width:100%; */

    justify-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(var(--headerHeight) + 150px) 1fr var(--footerHeight);
    grid-template-areas:
      "header header header header header header"
      ". main main main main sidebar"
      "footer footer footer footer footer footer";
  }

  .item-a {
  grid-area: header;
  width:100%;
  /* border:1px dashed black; */
  }
  .item-b {
    grid-area: main;
    width:100%;
    /* border:1px dashed black; */
  }
  .item-c {
    grid-area: sidebar;
    width:100%;
    /* border:1px dashed black; */
  }
  .item-d {
    grid-area: footer;
    width:100%;
    /* border:1px dashed black; */
  }
  .navigation{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* position: relative; */
    /* margin-right: 2rem; */
  }
  .navigation-list{
    color:var(--bgBlack);
    width:5rem;
    /* change here  */
    text-align: center;
  }
  .portfolioLogo{
    width:auto;
    height:inherit;
    display: flex;
    align-items: center;
    margin-left: var(--marginLeft);
  }
  .component{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;;
  }
  .workImage{
    max-width: 300px;
  }

  /* .aboutComponent{
    width:100%;
    background-color: pink
  }
   */

  .contactSections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: green; */
  }
  .contactPortrait{

    /* mix-blend-mode: multiply; */
    height:100%;
    width:100%;
  }
  .about_sections{
    width: 100%;
    padding: 30px;
    /* background-color: green; */
  }

}

/* Desktop */
@media (width >= 1024px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    /* background-image: url('./images/sample2.jpeg'); */
    background-image:linear-gradient(135deg, #98dafc 0%, var(--bgDarkMode) 60%, var(--bgWhite) 100%);
    background-position: left;
  }
  .portfolioLogo{
    margin:0 auto;
  }
  /* .headerMenu{
    margin-right:3rem;
  } */


  .container {
    height:auto;
    /* border:1px solid grey; */
    /* background-color:blue; */
    /* height:100vh;
    width:100%; */

    justify-items: start;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: var(--headerHeight) 1fr var(--footerHeight);
    grid-template-areas:
      "header header header header header header"
      ". main main main main sidebar"
      "footer footer footer footer footer footer";
  }


  .item-a {
  grid-area: header;
  width:100%;
  /* border:1px dashed black; */

  }
  .item-b {
    grid-area: main;
    width:100%;
    /* border:1px dashed black; */
  }
  .item-c {
    grid-area: sidebar;
    width:100%;
    /* border:1px dashed black; */
  }
  .item-d {
    grid-area: footer;
    width:100%;
    /* border:1px dashed black; */
  }

  .navigation{
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    /* position: relative; */
    margin-right: var(--marginLeft);
    /* margin-top:2rem; */
  }
  .navigation-list:hover{
    text-decoration: line-through;
  }
  .navigation-list section::before{
    /* content:'\1F3A8 \a0' */
    content:'\1F30A'
    /* Formal Unicode Notation
      https://www.iemoji.com/view/emoji/190/animals-nature/water-wave
     */
  }

  .navigation-list{
    color:var(--bgBlack);
    width:7rem;
    /* change here  */
    text-align: left;
    /* padding-bottom: 1rem; */
  }
  .portfolioLogo{
    width:auto;
    height:inherit;

    display: flex;

    align-items: center;
    margin-left: var(--marginLeft);
  }
  .component{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;;
  }


  .about_sections{
    width: 50%;
    padding: 30px;
    background-image:linear-gradient(90deg, #98dafc 0%, var(--bgDarkMode) 120%);
  }

  .contactSections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-image:linear-gradient(90deg, var(--bgDarkMode) 30%, #98dafc 50%, var(--bgDarkMode) 70%);
    /* background-color: green; */
  }

  .contactPortrait{
    /* position: absolute; */
    /* top:0; */
    /* mix-blend-mode: multiply; */
    height:100%;
    width:100%;
  }


}

/* for all - sketch */

.mySketchAbsolute{

}


#defaultCanvas0{
  width:100% !important;
  height:100% !important;
  /* background-color:coral; */


  pointer-events: none;
  position: absolute;
  top: -6px;
  left: 0px;
}

.waveSketch {

  /* padding: 30px; */
  /* background-image: linear-gradient(135deg, #619cfa 0%, #f5f7fa 100%); */
  background-image: linear-gradient(45deg, rgba(103,92,249,1) 12%, rgba(213,123,46,1) 79%);
  /* background-image: linear-gradient(45deg, rgba(142,64,255,0.9598214285714286) 12%, rgba(255,201,57,1) 79%); */
  /* width:auto; */
  /* background color overlaying */
  /* height:100%; */

  /* background-color:orange; */
  padding: 1rem;
  border:3px solid var(--bgBlack);
  position: relative;
  /* covers the 1st line screw up */
  overflow:hidden;
}
.dataCell:hover {
  color:var(--bgYellow);
}
.dataBlock:hover {
  background-color:var(--bgGrey);
}
.chart {
  transition: all 1s linear;
    /* padding:1rem; */
  /* background-image:url("back9.jpg"); */
  background-color:var(--bgGreyWhite);
  background-size: cover;
  /* transition: all 1s; */
      border-radius: 5px;

      mix-blend-mode:luminosity;
      /* border: 3px solid #222222; */
      box-shadow: 10px 5px 10px 5px black;
      font-size:0.9rem;
      min-width:375px;
      width:30%;
      position: relative;
      /* transition: all 0.5s linear; */
      z-index: 1;
}
.dataTable {
  border-top:1px solid silver;
  width:100%;
}

/* bc sketch is drawn at z index 0 */



.closed{
  /* transform-origin: 50% 50%; */
  transform:rotate(0deg);

  /* font-size: 300px; */
  right:1px;
  top:1px;
}

.offScreen{
  transform:  translateX(-97%);
  /* scale(0.5, 0.5) */
  /* background-color: blue; */
}

.shown{
  /* transform-origin: 50% 50%; */
  transform: rotate(-45deg);
  font-size:16px;
  right:1px;
  top:1px;

}

.closeBtn{

  transition: all 2s ease-in-out;
  cursor:pointer;
  position: absolute;


  font-weight: bold;
  width:30px;
  height: 30px;
  /* border:1px solid silver; */
  text-align: center;
  vertical-align: center;
  border-radius: 5px;
}

.closeBtn:hover {
  color:silver;
}

.chart h3{
  text-align: center;
}

/* @keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
} */

/* .option{
  width:50%;
} */
.hiddenInput{
  visibility: hidden
}

.hidden{
  background-color: var(--bgGreyWhite);
}
.show{
  background-color: var(--bgBlue);
  color:var(--bgGreyWhite);
}

.customSelectOption{
  width:100%;
  height:0px;

  display:flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 10px 10px 5px black;
  opacity: 0;

  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
  /* transition: all 2s ease-in-out; */
}

.add{
  border: 0.06em solid #3694d7;
  background: #fff;
  /* transition: .4s all ease-in-out; */
  opacity: 1;
  min-height:500px;
  overflow-y: auto;
  /* transform: scale(2) */
  /* transform: rotate(-180deg); */
  transform: scale(1)
}

/*  */
.customForm{
  min-width:375px;
  width:30%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px black;
  position: relative;
  z-index: 1;
  /* mix-blend-mode: hard-light; */
  transition: all 1s linear;
}

.zIndexFront{
  z-index: 1;
  position: relative;
}

.custom-select-box{
  display: flex;
  width:100%;
  background-color: yellow;
}
.custom-select {
  position: relative;
  width:100%;
  /* display: flex; */
}

.customInteract{
  width:100%;
  display: flex;
  height:100%;
}

.placeHolder{
  width:100%;
  /* 98dafc or this */
  background-color: #0563af;
  color: white;
  padding: 12px;
  /* max-width: 50%; */
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  cursor:pointer;
  position: relative;
}

.placeHolder::after {
  content:"\2228";
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  height: 100%;
  margin-right:15px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  transition: all 0.5s ease;
}

.placeHolder:hover::after{
  /* transform: translateY(10px); */
  animation: bounce 0.5s infinite alternate;
}

.customFormHeader{
  background-color: #0563af;
  color: white;
  padding: 12px;

}

.customButton{
  width:100%;
  background-color: #0563af;
  color: white;
  padding: 12px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@keyframes bounce {
  from {
     transform: translateY(-5px)
   }
   to {
     transform: translateY(5px)
   }
}

.custom-select::after {
  content:"\2228";
  /* content:"\f063"; */
  /* background-color: rgba(50, 115, 220); */
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;

  margin-right:10px;
  height: 100%;
  font-size: 1em;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transition: all 0.5s ease;
}

.custom-select:hover::after {
  transform:translateY(-5%) rotate(180deg);
}

/*
.select-css::-ms-expand {
	display: none;
} */

option{
    font-size:18px;
    background-color:olive;
}
option:before{
    content: ">";
    font-size:20px;
    display:none;
    padding-right:10px;
    padding-left:5px;
    color:#fff;
}
option:hover:before{
    /* display:inline; */
}

.custom-select select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* display: none; /*hide original SELECT element: */
}

.confirm{
  background-color: coral;
}

.home{
  /* position: relative; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* background-image: url('./assets/videos/waveShore720.mov'); */
}

.panel{
  border: 1px solid var(--bgWhite);
  padding: 5rem;
  position: relative;
}

.myVideo {
  /* min-width: 100%; */
  object-fit: cover;
  min-width:100%;
  min-height:100%;
  position: absolute;
  right: 0;
  /* top:var(--headerHeight); */
  top:0;
  /* bot: 0; */
  opacity: 0.3;
  pointer-events: none;


  /* min-height: 100%; */
  /* width: 100%    !important;
   height: auto   !important; */
}
/*

// Start | for demo
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,700'; */


.PostsWrapper{
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: blue; */
  width:100%;
  /* max-height:500px; */
  /* align-items: center; */
  justify-content: center;
}

.leftHand {

  min-height:100%;
  /* background-color: olive; */
  position: relative;
  /* min-width:400px; */
  /* max-width: 100%; */
  max-width: 600px;

}

.postImage{
  width:100%;
  height:100%;
  /* object-fit:contain; */
}

/* dead center of parent container */
.absoluteCenterContainer{
  position: absolute;
  top:50%;
  left:50%;
  width:50%;
  height:50%;
  margin-top:-25%;
  margin-left: -25%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightHand{
  min-height:100%;
  width:100%;
  max-width: 600px;
  background-color: var(--bgWhite);
  position: relative;
  display: flex;
  flex-direction: column;
}

.rightHand h1 {
  text-align: center;
}

.rightHand h4 {
  text-align: center;
}

.rightHand p {
  text-align: center;
}

.absoluteCornerContainer {
  position: absolute;
  top:20px;
  right:20px;
}

.commentWrapper{
  line-height:1.5rem;
}

.commentWrapper::before{
  content:'\21AA \a0 \a0 \a0'
  /* hex */
}
.threadWrapper::before{
  content:'\a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \21AA \a0 \a0 \a0'
  /* hex */
}

.commentSection{
  margin-top: auto;
}
.commentsBlock{
  border-top: 1px solid var(--bgBlack);
  border-bottom: 1px solid var(--bgBlack);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bgGreyWhite);
  height:200px;
  max-height:200px;
  overflow-y: scroll;
  font-size: 12px;
}
.commentSelected {
  background-color: ivory;
}

.errorBar{
  background-color: var(--bgOrange);
  text-align:center;
  padding: 1rem;
}
